---
apiVersion: v1
kind: Namespace
metadata:
  name: vendoriq

---
apiVersion: v1
kind: Secret
metadata:
  name: chat-secrets
  namespace: vendoriq
type: Opaque
stringData:
  GEMINI_API_KEY: "AIzaSyCiM8Pz0FYbgJqjG8jvLp47QcJqVwiQjoM"

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: chat-service
  namespace: vendoriq
spec:
  replicas: 1
  selector:
    matchLabels:
      app: chat-service
  template:
    metadata:
      labels:
        app: chat-service
    spec:
      containers:
      - name: chat-service
        image: namangupta07729/vendoriq-chat:v1.0.0
        imagePullPolicy: Always
        ports:
        - containerPort: 4005
        env:
        - name: GEMINI_API_KEY
          valueFrom:
            secretKeyRef:
              name: chat-secrets
              key: GEMINI_API_KEY
        - name: CHAT_PORT
          value: "4005"
        - name: PYTHONUNBUFFERED
          value: "1"
        livenessProbe:
          httpGet:
            path: /api/v1/health
            port: 4005
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /api/v1/health
            port: 4005
          initialDelaySeconds: 10
          periodSeconds: 5

---
apiVersion: v1
kind: Service
metadata:
  name: chat-service
  namespace: vendoriq
spec:
  type: NodePort
  selector:
    app: chat-service
  ports:
  - port: 4005
    targetPort: 4005
    nodePort: 30002