apiVersion: v1
kind: Service
metadata:
  name: email-service
spec:
  selector:
    app: email-service
  ports:
    - name: http
      protocol: TCP
      port: 4002
      targetPort: 4002
  type: ClusterIP